<!DOCTYPE html>
<html>
	<head>
		<title> My webpage </title>
		
		<link rel="stylesheet" href = "style.css" >
		<script src="https://unpkg.com/eva-icons"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			img {
				width: 20%;
				height:20%;
				margin-top: 400px;
			}
			

		
		</style>
	</head>
	<body>

		<h1>{{headline}}</h1>

		{% if new_year %}
		<h1>"Yes happy new year"</h1>
		{% else %}
		<h1>"NO"</h1>
		{% endif %}

		<h1>names</h1>
		<ul>
			{% for i in names %}
				<li> {{i}} </li>
			{% endfor %}
		</ul>

		<h1>first page</h1>
		<a href="{{ url_for('inherit') }}">inherit</a>
		<h1>{% block heading %} {% endblock %}</h1>
		{% block body %}{% endblock %}

	<nav>
	  	<ul id='navbar'>
		    <li><a href="index.html">Home</a></li>
		    <li><a href="about.html">About</a></li>
		    <li><a href="contact.html" >Contact</a></li>
		    <li><a href="bootstrap.html" >bootstrap</a></li>
		</ul>
	</nav>
	

		<img src= "bat1.jpg">
		<div>
		 <i data-eva="unlock" data-eva-fill="#ff0000" data-eva-height="48" data-eva-width="48" data-eva-animation="flip" 
		 data-eva-hover="false" data-eva-infinite="true"></i>

    <script>
      eva.replace();

    </script>

	</div>
		<h1>Hello World , hello again * 2!<h1/>
	</body>
</html>
