{%extends "layout.html"%}

{% block heading %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9fytSdXXr6kVZdXLddFJyF9HT4JTt-qM&callback=initMap">
      src = "https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=AIzaSyD9fytSdXXr6kVZdXLddFJyF9HT4JTt-qM"
    </script>
  <style>
      button{
        background-color: blue;
        width: 150px;
        height: 150px;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
        margin: 10%;
      }
      .box {
        display: inline-block;
        height: 150px;
        width: 250px;
        border: 5px solid red;
        padding: 5px;
        margin: 10px;
        font-size: 15px;
        font-color: black;
      }
    </style>

       {% for i in mechanic_list %}


                  <div class = "box">
                    <ul class="list-unstyled" id = "mechanic{{mechanic_id}}">
                       <li>Name {{ i.name }} </li>
                       <li>Phone {{ i.phone }} </li>
                       <li>Email {{ i.address }} </li>
                    </ul>
                  </div>
             <a href="{{ url_for('mechanic',full_name=i.full_name) }}">more info
                </a>
        {% endfor %}



      <div class="container-fluid">
         <div class="row">
              <div class="col-md-4">COLUMN 1
              </div>
              <div class="col-md-4">Column2
              </div>
              <div class="col-md-4">Column3
              </div>
          </div>
      </div>

{% endblock %}

{% block body %}
<p>Hello, <span id="username"></span></p>


 <div id="map"></div>
 <script>

    var mechanic_group=JSON.parse('{{ mechanic_group| tojson | safe}}');
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: 25.7617, lng: -80.1}
        });

        var marker = {}

        var myLatLng =[]
        for (var i = 0; i < mechanic_group.length; i++) {
          myLatLng[i] = {lat: mechanic_group[i]['latitude'], lng: mechanic_group[i]['longitude']};
          marker = new google.maps.Marker({
          position: myLatLng[i],
          map: map,
          title: 'Hello World!'
          });
          // process multiple info windows
          (function(marker, i) {
            google.maps.event.addListener(marker, 'click', function() {
                  infowindow = new google.maps.InfoWindow({
                      content: mechanic_group[i]['name']
                  });
                  infowindow.open(map, marker);
              });
          })(marker, i);
        }
    }

    </script>





  {% endblock %}
