{%extends "layout.html"%}

{% block heading %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9fytSdXXr6kVZdXLddFJyF9HT4JTt-qM&callback=initMap">
    src = "https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=AIzaSyD9fytSdXXr6kVZdXLddFJyF9HT4JTt-qM"
  </script>
  <style>
    button{
    
        background-color: blue;
        width: 150px;
        height: 150px;
      
          
  
    }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }


    #map {
          height: 100%;
         margin: 10%;
      }

          #box {
              display: inline-block;
              height: 150px;
              width: 250px;
              border: 5px solid red;
              padding: 5px;
              margin: 10px;
              font-size: 15px;
              font-color: black;
              
            }
          
        
  </style>

       {% for i in mechanic_list %}
                  
      
                  <div id = "box"> 
                    <ul class="list-unstyled">
                       <li id = "name_{{i}}">Name {{ i.name }}</li>
                       <li id = "phone_{{user_id}}" data-mechanic-id = "{{i.mechanic_id}}"data-number = "i.phone_{{i.phone}}">Phone {{ mechanic_id }}</li> 
                       <li>Email {{ i.email }}</li> 
                    </ul>
                  </div>
             <a href="{{ url_for('mechanic',full_name=i.full_name) }}">more info
                </a>
        {% endfor %}

         

        <div class="container-fluid">
         <div class="row">
                 <div class="col-md-3">COLUMN 1
                </div>

              <div class="col-md-9">MECHANIC INFO
                   <div> 
                    </div>
              </div>
          </div>
      </div>

{% endblock %}

{% block body %}
<p>Hello, <span id="username"></span></p>


 <div id="map"></div>
 <script>
     
  

    var mechanic_id =JSON.parse('{{ mechanic_id | tojson | safe}}');
    var user_id =JSON.parse('{{ user_id | tojson | safe}}');

    document.querySelector('#username').innerHTML = user_id.user_id;
 
   
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: 25.7617, lng: -80.1}
        });
 
        const russ = document.querySelector('#phone'+user_id.user_id);
          
          
           var contentString=user_id.user_id;



        var myLatLng = {lat: 25.7717, lng: -80.155};
       var marker1 = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
      var infowindow1 = new google.maps.InfoWindow({
        content: contentString
      });
      marker1.addListener('click', function() {
         console.log("click1")
        infowindow1.open(map, marker1);
      });



        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      var locations = [
        {lat: 26.563910, lng: -80.987},
        
        
        {lat: 26.999792, lng: -80.99}
      ]


    </script>





  {% endblock %}