
<!DOCTYPE html>
<html>
	<head>

		<link rel="stylesheet" href = "style.css" >

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<style>
				img {

				form{
					margin-bottom: 15px;
					margin-top: 10px
				}
				button{
					margin-top:5px;
				}

		</style>
		</head>
	<body>





		<form name="topaypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_xclick-subscriptions">
			<!-- <input type="hidden" name="custom" value="{{session['username']}}"/> -->
			<input type="hidden" name="business" value="russm305@gmail.com">
			<input type="hidden" name="item_name" value="subscription">
			<input type="hidden" name="item_number" value="500">
			<input type="hidden" name="no_shipping" value="1">
			<input type="hidden" name="a3" value="1.99">
			<input type="hidden" name="p3" value="1">
			<input type="hidden" name="t3" value="M">
			<input type="hidden" name="src" value="1">
			<input type="hidden" name="sra" value="1">
			<input type="hidden" name="return" value="http://104.236.221.91/success/">
			<input type="hidden" name="cancel_return" value="http://104.236.221.91/">
			<input type="hidden" name="notify_url" value="http://104.236.221.91/ipn/">
			<input type="submit" value="Subscribe" name="submit" title="PayPal - The safer, easier way to pay online!" class="btn btn-primary">
		</form>











		{% block body %}{% endblock %}


	</body>
</html>
